fastapi==0.90.0
uvicorn==0.20.0
prometheus-client==0.16.0
prometheus-fastapi-instrumentator==5.9.1
pydantic==1.10.4

#logging
loguru==0.6.0


# test dependencies
mypy==0.991
pylint==2.13.9
pytest==7.1.1
pytest-cov==3.0.0
pytest-asyncio==0.18.2
httpx==0.23.3

# For manual testing/debugging
ipython

# misc (development helpers etc.)
black==23.1.0